{% load static i18n %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}TradeEasy{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href="/" class="logo">TradeEasy</a>
        
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == "dashboard" %}class="selected" {% endif %}>
                <a href="{% url 'dashboard' %}">{% translate 'Home Page' %}</a>
            </li>
            <li {% if section == "cart" %}class="selected" {% endif %}>
                <a href="{% url 'cart:cart_detail' %}">{% translate 'Your cart' %}</a>
            </li>
            {% endif %}
            <!-- надо поменять на норм кнопку -->
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
            </form>
        <!--  -->
        </ul>
        <span class="user">
            {% if request.user.is_authenticated %}
            {% translate 'Hello' %} {{ request.user.first_name|default:request.user.username }},
            <a href="{% url 'logout' %}">{% translate 'Logout' %}</a>
            {% else %}
            <a href="{% url 'login' %}">{% translate 'Log-in' %}</a>
            {% endif %}
        </span>
    </div>
    <div id="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
            {% if total_items > 0 %}
            <a href="{% url 'cart:cart_detail' %}">
                {% translate 'Your cart:' %}
            </a>
            {{ total_items }} item{{ total_items|pluralize }},
            ${{ cart.get_total_price }}
            {% else %}
            {% translate 'Your cart is empty.' %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>